body{
    background-color: #333;
    color: #f3f3f3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-size: 500%;
    color: orange;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
}

p{
    margin-top: 10vh;
    font-size: 1.5rem;
    max-width: 70vh;
    line-height: 3rem;
}

p::first-letter {
    font-size: 500%;
    font-weight: bold; 
    color: deeppink;
    font-weight: bold;
    margin-right: 0.25rem;
    text-shadow: 0.25rem 0.25rem orange;
}